{% extends "full-page-layout.html" %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset_path }}global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
	<div class="page-content-wrapper">
		<div class="page-content">
			<h3 class="page-title">
				{{ page_title }}
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="/dashboard">Dashboard</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="/projects">Projects</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="/project/{{ project.id }}">{{ project.name }}</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="/task/{{ task.id }}">{{ task.name }}</a>
					</li>
				</ul>
				<div class="page-toolbar">
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" dropdown-toggle" data-toggle="dropdown" data-delay="1000" data-close-others="true">
							{{ 'Actions' }} <i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu pull-right" role="menu">
							<li><a href="/task/{{ task.id }}/log_time" data-toggle="modal" data-target="#ajax_modal" >{{ 'Log time' }}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- END PAGE HEADER-->
			<div >
				{{ task.content | raw }}
			</div>
			<table class="table table-bordered table-striped ">
				<thead class="flip-content">
					<tr>
						<th width="60px"> Date </th>
						<th> Developer </th>
						<th> Comment </th>
						<th width="150px"> Spent time </th>
					</tr>
				</thead>
				<tbody>
				{% for hour in hours %}
					<tr style="vertical-align:bottom">
						<td style="vertical-align:middle"> {{ hour.date }} </td>
						<td style="vertical-align:middle"> 
							<a href="/user/{{ hour.developer_id }}">{{ hour.developer }}</a>
						</td>
						<td class="numeric" style="vertical-align:middle">{{ hour.comment }}</td>
						<td class="numeric" style="vertical-align:middle">{{ hour.hours }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block javascript_bottom %}
	<script src="{{ asset_path }}global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
	<script>
		$(function(){
			$(document).on("click" , "#log_wizzard", function(){
				$.post($("#log_form").attr('action'), $("#log_form").serialize(), function(){
					location.reload();
				})
			})
		})
	</script>
{% endblock %}
