{% extends "full-page-layout.html" %}

{% block stylesheets %}
	{{ parent() }}
	
{% endblock %}

{% block content %}
	<div class="page-content-wrapper">
		<div class="page-content">
			<h3 class="page-title">
				{{ page_title }}
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="/dashboard">Dashboard</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">Users</a>
					</li>
				</ul>
				<div class="page-toolbar">
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" dropdown-toggle" data-toggle="dropdown" data-delay="1000" data-close-others="true">
							{{ 'Actions' }} <i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu pull-right" role="menu">
							<li><a href="/users/add" data-toggle="modal" data-target="#ajax_modal" >Add user</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- END PAGE HEADER-->
			<table class="table table-bordered table-striped ">
				<thead class="flip-content">
					<tr>
						<th width="40px">#</th>
						<th> Name </th>
						<th> Company </th>
						<th width="150px"> Email </th>
						<th width="150px"> Status </th>
						<th width="100px"> Options </th>
					</tr>
				</thead>
				<tbody>
				{% for user in users %}
					<tr style="vertical-align:bottom">
						<td style="vertical-align:middle"> {{ loop.index }} </td>
						<td style="vertical-align:middle"> 
							<a href="/users/{{ user.id }}">{{ user.name }}</a>
						</td>
						<td style="vertical-align:middle">
							<a href="/company/{{ user.company_id }}">{{ user.company_name }}</a>
						</td>
						<td class="numeric" style="vertical-align:middle">{{ user.email }}</td>
						<td class="numeric" style="vertical-align:middle">
							{% if user.role == 'admin' %}
							<span class="label label-sm label-warning">Admin</span>
							{% endif %}
							{% if user.role == 'developer' %}
							<span class="label label-sm label-success">Developer</span>
							{% endif %}
							{% if user.role == 'client' %}
							<span class="label label-sm label-info">Client</span>
							{% endif %}
						</td>
						<td class="numeric" style="vertical-align:middle">
							<div class="btn-group pull-right">
								<button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" data-delay="1000" data-close-others="true">
									{{ 'Actions' }} <i class="fa fa-angle-down"></i>
								</button>
								<ul class="dropdown-menu pull-right" role="menu">
									<li><a href="/users/edit/{{ user.id }}" data-toggle="modal" data-target="#ajax_modal" >{{ 'Edit' }}</a></li>
									<li><a href="/users/delete/{{ user.id }}" onclick="return confirm('Are you sure ?')" >{{ 'Remove' }}</a></li>
								</ul>
							</div>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block javascript_bottom %}
	<script>
		$(function(){
			$(document).on("click" , "#user_wizzard", function(){
				$.post($("#user_form").attr('action'), $("#user_form").serialize(), function(){
					location.reload();
				})
			})
			$(document).on("change" , "#user_role", function(){
				var v = $(this).val();
				if (v == "3")
					$("#user_company").show();
				else
					$("#user_company").hide();
			})
		})
	</script>
{% endblock %}
