{% extends "admin/templates/layout.twig" %}

{% block content %}
	
	
	<div class="inner">
		<form class="form-horizontal ajax_form" id="custom_field_form" action="{{ this.route.generate('custom_field_edit' , {'id' : field.id }) }}" onsubmit="return Admin.check_custom_field(event);" method="post">
			<div class="left_big">
				<div class="big_box">
					
					<h3 class="box-title">
						Content
					</h3>
		
					<div class="form-body">
						<div class="form-group">
							<label class="control-label col-md-3">Field type</label>
							<div class="col-md-9">
								
								<select class="bs-select " id="custom_field_type" name="data[type]">
								{% for type in field_types %}
									<option value="{{ type.label }}" {{ field.type == type.label ? 'selected' : '' }} data-multilang="{{ type.obj.has_multilang ? 1 : 0}}">{{ type.name }}</option>
								{% endfor %}	
								</select>
								
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-md-3">Field Name</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="data[name]" value="{{ field.name }}">
								<span class="help-block">
									This is the name that will appear in the PUBLISH page 
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">Field label</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="data[label]" value="{{ field.label }}">
								<span class="help-block">
									Single word, no spaces. Underscores and dashes allowed
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">Field Instructions</label>
							<div class="col-md-9">
								<textarea class="form-control" name="data[info]">{{ field.info }}</textarea>
								<span class="help-block">
									Instructions for authors on how or what to enter into this custom field when submitting an entry. 
								</span>
							</div>
						</div>
						
					</div>
					<div class="space-20"></div>
					
				</div>
				
				<div class="space-20"></div>
				
				<div class="big_box">
					
					<h3 class="box-title">
						Custom Fields Options
					</h3>
					
					<div class="form-body">
						{% for type in field_types %}
						<div class="field_options" data-type="{{ type.label }}">
							{{ type.obj.get_options(field.options[type.label]) }}
						</div>
						{% endfor %}
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button class="btn btn-blue" type="submit"><i class="fa fa-check"></i> Save</button>
								<button class="btn btn-default" type="button">Cancel</button>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="small_right">
			
			
				<div class="big_box">
					<h3 class="box-title">
						Options
					</h3>
					
					<div class="portlet-body form">
						<div class="form-body">
							
							<div class="form-group short-group" id="multilang_check">
								<label class="control-label ">Multilanguage</label>
								<div >
									<label style="margin:0 15px 0 0">
										<input type="radio" name="data[multilang]" value="0" {{ field.multilang == 0 ? 'checked' : '' }}/> No
									</label>
									<label>
										<input type="radio" name="data[multilang]" value="1" {{ field.multilang == 1 ? 'checked' : '' }}/> Yes
									</label>
								</div>
							</div>
							<div class="form-group short-group">
								<label class="control-label ">Show this field by default ?</label>
								<div >
									<label style="margin:0 15px 0 0">
										<input type="radio" name="data[show]" value="0"  {{ field.show == 0 ? 'checked' : '' }}/> No
									</label>
									<label>
										<input type="radio" name="data[show]" value="1"  {{ field.show == 1 ? 'checked' : '' }}/> Yes
									</label>
								</div>
							</div>
							<div class="form-group short-group">
								<label class="control-label ">Field Display Order</label>
								<input type="text" class="form-control" style="width:80px" name="data[order]" value="{{ field.order }}">
								
							</div>
							
							<div class="form-group short-group" style="margin:0; padding:0 15px 15px;">
								<button class="btn btn-blue" type="submit"><i class="fa fa-check"></i> Save</button>
								<button class="btn btn-default" type="button">Cancel</button>
							</div>
							
						</div>
					</div>
						
					
				</div>
				<div class="space-20"></div>
			</div>
			<input type="hidden" name="ac" value="edit" />
			<input type="hidden" name="data[id]" value="{{ field.id }}" />
			<input type="hidden" id="was_multilang" value="{{ field.multilang }}" />
			<input type="hidden" id="had_type" value="{{ field.type }}" />
		</form>
	</div>
{% endblock %}