{% extends "admin/templates/layout.twig" %}

{% block stylesheets %}
	{{ parent() }}
	
{% endblock %}

{% block content %}
	
	
	<div class="inner">
		<form class="form-horizontal form-bordered form-row-stripped ajax_form" action="{{ this.route.generate('node_add' , {'channel' : this_channel.id }) }}" method="post">
			<div class="left_big">
				<div class="big_box">
					
			
					<h3 class="box-title">
						Content
					</h3>
		
					<div class="form-body">
						<div class="form-group">
							<label class="control-label col-md-3">Title</label>
							<div class="col-md-9">
								{% if this.is_multilang %}
									{% for key,lang in this.config.general.langs %}
										<div role="lang" data-lang="{{ key }}">
											<input type="text" placeholder="{{ lang }}" name="data[title][{{ key }}]" class="form-control" >
										</div>
									{% endfor %}
								{% else %}
								<input type="text" placeholder="" name="data[title]" class="form-control" >
								{% endif %}
							</div>
						</div>
						
						{% for field in fields %}
							{{ field.get_html() }}
						{% endfor %}
						
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button class="btn btn-blue" type="submit"><i class="fa fa-check"></i> Save</button>
								<button class="btn btn-default" type="button">Cancel</button>
							</div>
						</div>
					</div>

					
				</div>
			</div>
			
			<div class="small_right">
			
			
				<div class="big_box">
					<h3 class="box-title">
						Options
					</h3>
					
					<div class="portlet-body form">
						<div class="form-body">

							{% if is_multilang %}
							<div class="form-group short-group">
								<label class="control-label">Language</label>
								<select class="bs-select " data-width="100%" id="lang_switcher">
									{% for key,lang in langs %}
									<option value="{{ key }}">{{ lang }}</option>
									{% endfor %}
								</select>
							</div>
							{% endif %}

							<div class="form-group short-group">
								<label class="control-label" >
									<input type="checkbox" name="option[status]" value="active" >
									Published
								</label>
							</div>
							
							<div class="form-group short-group">
								<label class="control-label" >
									<input type="checkbox" name="option[home_page]" value="1"  >
									Home pages
								</label>
							</div>
							
							{% import "admin/templates/helper/form.twig" as form_helper %}
							<div class="form-group short-group">
								<label class="control-label ">Template</label>
								<select class="bs-select" data-width="100%" name="option[template]" >
									{{ form_helper.node_templates(templates, 0) }}
								</select>
							</div>
							
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<button class="btn btn-blue" type="submit"><i class="fa fa-check"></i> Save</button>
									<button class="btn btn-default" type="button">Cancel</button>
								</div>
							</div>
						</div>
							
					</div>
						
					
				</div>
				<div class="space-20"></div>
			</div>
			<input type="hidden" name="ac" value="save" />
			<input type="hidden" name="option[channel_id]" value="{{ this_channel.id }}" />
		</form>
	</div>
{% endblock %}


